.searchedList {
    position: relative;
    width: 40%;
    box-sizing: border-box;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.searchParent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .serachParent {
    display: flex;
    flex-direction: row;
    justify-content: space-between; */
