.searchedList {
    position: relative;
    width: 40%;
    box-sizing: border-box;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.searchParent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchFarmLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchFarmImage {
    max-width: 200px;
}

.mapSelected {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.mapImage {
    width: 50%;
    height: 50%;
}
