
body {
    background-color: rgb(255, 250, 231);
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 150px;
}

.farmPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    /* margin-top: 500px; */
    /* margin-left: 100px;
    margin-right: 100px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.farmPageName {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    word-spacing: 10px;
    font-size: 30px;
    background-color: #364547;
    color: #ffe268;
    width: 100%;
    height: 90px;
    margin-top: 70px;
}

.farmPageName h1 {
    padding-top: 10px;
}

.farmPageImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    margin-top: 40px;
    /* margin-left: 100px;
    margin-top: 40px; */
}

.farmPageReservation {
    margin-right: 90px;
}

.farmPageImageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
}

.farmPageImageContainer img {
    border-radius: 5px;
    height: 450px;
    width: 450px;
    border: 8px solid rgb(68, 31, 1);
}

.imageSelect {
    min-height: 50px;
    min-width: 50px;
    max-height: 50px;
    max-width: 50px;
    border-radius: 100%;
    font-size: 40px;
    background-color: #2f5d62;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

/* 2f5d62
364547
ffe268
ffb037 */

.farmPageReservationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.farmPageReservationContainer input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
    text-indent: 10px;
    border-radius: 20px;
    background-color: rgb(235, 235, 235);
}

.reservationForm {
    background-color: #2f5d62;
    width: 110%;
    border-radius: 10px;
}

.farmPageReservationContainer button {
    margin: 15px;
    width: 40%;
    height: 40px;
    border-radius: 20px;
    background-color: #364547;
    color: rgb(235, 235, 235);
    font-size: 20px;
}

.farmPageReservationContainer h2 {
    color: #ffe268;
    font-size: 30px;
}

.farmPageReservationContainer label {
    color: rgb(235, 235, 235);
}

.farmPageReviews {
    margin-top: 150px;
}


.reservationForm p {
    color: white;
}


.farmDescription {
    width: 450px;
    padding: 10px;
    border-radius: 5px;
    background-color: #2f5d62;
    font-size: 17px;
    color:whitesmoke
}

.farmDescriptionTitle {
    font-weight: bold;
    font-size: 20px;
}

.job {
    font-weight: bold;
    font-size: 20px;
}
