

.loginFormContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 160px;

}

.loginForm {
    width: 250px;
    background-color: #364547;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: rgb(216, 216, 216);
}

.loginForm p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.loginForm button {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #2f5d62;
    color: rgb(216, 216, 216);
    border-radius: 5px;
    width: 80px;
    height: 25px;
}

.loginForm input {
    border-radius: 20px;
    width: 180px;
    padding: 5px;
    padding-left: 10px;
}


