.homeBanner {
    width: 100%;
}

.bannerParent {
    position: relative;
    display: flex;
    justify-content: center;
}

.bannerTextScale {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 150%;
    top: 150px;
}

.homeCategory {
    box-sizing: border-box;
    border: 2px solid #364547;
}

.homeCategoryTitle {
    text-align: center;
    color: #364547;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.homeMainBox {
    display: flex;
    justify-content: space-around;
}

.homeBoxDiv {
    width: 25%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 2px;
}

.homeFarmName {
    box-sizing: border-box;
    border: 1px solid #364547;
    background-color: #2f5d62;
    display:flex;
    justify-content: center;
    align-items: center;
}

.farmLink {
    text-decoration: none;
    color: #ffe268;
}