.userProfileReservationContainer {
  display: flex;
  flex-direction: column;
}


 .userProfileVisitText {
  text-align: center;
}

.userProfileReservationDiv {
  border: 1px solid;
  margin-top: 5px;
  padding-left: 2%;
}

.parentContainer {
  margin-top: 100px;
}
