.userProfileReservationContainer {
  display: flex;
  flex-direction: column;
}

.user-info{
  margin-top: 100px;
}

 .userProfileVisitText {
  text-align: center;
}

.userProfileReservationDiv {
  display: flex;
  /* justify-content: center; */
  border: 1px solid #364547;
  background-color: #2f5d62;
  margin-top: 5px;
  padding-left: 43%;
  width: auto;
}

.reservationLink{
  text-decoration: none;
  color: #ffe268;
}

.up-background-image {
  max-width: 100%;
}


    /* box-sizing: border-box;
    border: 1px solid #364547;
    background-color: #2f5d62;
    display:flex;
    justify-content: center;
    align-items: center; */
