.parent {
    background-color: #ffe268;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    list-style: none;
    z-index: 100;
    width: 100%;
    height: 70px;
    margin-top: 0;
    border-bottom: 2px solid #364547;
}

.bartLogo {
    width: 50px;
    height: 50px;
}

.navbar-link{
    background-color: #2F5D62;
    color: #FFB037;
    border-radius: 5px;
    height: auto;
    width: auto;
    padding: 1em 1.5em;
    text-decoration: none;
}

.home-link {
    text-decoration: none;
    color: #2F5D62;
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    margin-left: 0px;
    margin-right: 40px;
}

.navbar-link:hover {
    box-shadow: inset 300px 0 0 0 #364547;
	color: #ffe268;
	cursor: pointer;
}

.searchBar {
    position: absolute;
    align-content: center;
}

.searchBarContainer {
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 30px;
}

.searchBar input {
    border-radius: 20px;
    width: 120%;
    height: 30px;
    position:relative;
    margin-left: 50px;
    text-indent: 20px;
    font-size: 20px;
    background-color: rgb(236, 236, 236);
}

.searchBar input[type="text"]:focus {
    outline:none;
}

.isLoggedIn {
    display: flex;
    margin-left: 730px;
}

.searchedList {
    padding: 10px;
    margin-left: 70px;
    background-color: rgb(233, 233, 233);
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}

.searchedList li {
    text-decoration: none;
    color: inherit;
}

.unlogged-links-div{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 200px;
    right: 5%;
}

.unlogged-links{
    background-color: #2F5D62;
    color: #FFB037;
    border-radius: 5px;
    height: auto;
    width: auto;
    padding: 1em 1.5em;
    text-decoration: none;
}

.unlogged-links:hover{
    box-shadow: inset 300px 0 0 0 #364547;
	color: #ffe268;
	cursor: pointer;
}
